ul {
  list-style: none
}

.fa-thumbtack {
  margin-right: 1rem;
}

.btn-success, 
.btn-danger {
  margin: .5rem 0 0 2rem;
}

.strikethrough {
  text-decoration: line-through;
}

hr {
  margin: 3rem 0;
}