<h1>Bienvenue sur la page de To-Do List !</h1>

  <label for="newTask">Nom de la tâche : </label><br>
  <input id="newTask" #taskName />

  <button class="btn btn-success" (click)="addTask(taskName.value); taskName.value=''">
    Ajouter
  </button>
  
  <table *ngIf="tasks.length > 0">
    <tr *ngFor="let task of tasks">

        <td *ngIf="task.isChecked; else elseBlock">
          <i class="fas fa-thumbtack fa-rotate-90"></i>
          <s>{{ task.title }}</s>
        </td>
        <ng-template #elseBlock>
          <td>
            <i class="fas fa-thumbtack"></i>
            {{ task.title }}
          </td>
        </ng-template>
        <td>
          <a (click)="checkTask(task)" class="btn btn-success">Complété</a>
          <a (click)="deleteTask(task)" class="btn btn-danger">Supprimer</a>
        </td>
      </tr>
  </table>

<a routerLink="/home" class="nav-link"><i class="fas fa-arrow-left"></i>Retourner sur la page d'accueil</a>

<hr>

<app-messages></app-messages>